<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
			<add key="LocalSource" value="D:\this-is-some-optional-directory\some-path" />
	</packageSources>
	<disabledPackageSources>
    <!-- Disable any package sources here -->
		<add key="nuget.org" value="true" />
		<add key="Microsoft Visual Studio Offline Packages" value="true" />
	</disabledPackageSources>
</configuration>